*.class
*.log
*.pyc
*.swp
.DS_Store
.dart_tool/
.flutter-plugins-dependencies
.idea/
.pub/
.pub-cache/
.vscode/
build/
coverage/
tmp/
test/goldens/failures/
test/goldens/review/
**/test/failures/
**/doc/api/
*.iml
*.ipr
*.iws
app.*.map.json
app.*.symbols
